{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Featured Collections Section -->
    <section class="about-section">
        <h2 class="about-title">About Eternal Records</h2>
        <p>Born from a passion for music, Eternal Records was established by Leah Sigana in 2024.</p>
        <p>The concept of Eternal Records arose from Leah's childhood memories of collecting vinyl records, sparked by her father's old turntable. What began as a personal quest to revive the lost art of vinyl quickly transformed into a unique record store dedicated to fostering a community where music lovers could connect, explore, and celebrate their shared passion for sound. Since its inception, Eternal Records has become a vibrant hub for music enthusiasts, artists, and collectors alike, bridging generations with the mantra: “Vinyl Is Forever.”</p>
        <p>Eternal Records redefines the music retail experience, combining a curated selection of classic and contemporary records with an inviting atmosphere that encourages discovery. From intimate in-store performances to weekly vinyl listening sessions, our commitment to community engagement and music education remains at the forefront of our mission. With a diverse range of genres and styles, our knowledgeable staff is always ready to guide customers on their musical journey, ensuring that every visit is a unique and enriching experience.</p>
        <p>Our flagship store, nestled in the heart of the city, features walls lined with iconic album covers and cozy listening stations where patrons can immerse themselves in the warm sounds of vinyl. Celebrities and local artists alike have found solace within our walls, creating a cultural tapestry that is distinctly Eternal.</p>
        <p>At Eternal Records, we believe that music is a timeless companion that transcends boundaries and connects souls. Join us as we celebrate the beauty of vinyl, the art of music, and the stories they tell.</p>
        <div class="newsletter">
            <h3>Subscribe to our newsletter for all the latest offers and releases:</h3>
            <input type="email" placeholder="Enter your email" aria-label="Email">
            <button type="button">Subscribe</button>
        </div>
    </section>
{% endblock %}